<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      .box{
        border: 1px solid black;
        padding: 5px;
        width: 20px;
        background-color: grey;
        text-align: center;
        cursor: pointer;
      }
  </style>
</head>
<body>
  <div class="container">
    <template v-if="title.length >= 1" v-for="title in title">
      <h4 class="box" v-on:click="increase()">+</h4>
      <h2>{{title}} || {{timestamp}} || Score : {{point}}</h2>
      <h4 class="box" v-on:click="decrease()">-</h4>
    </template>
    <textarea name="" id="" cols="30" rows="10" v-on:keyup.enter="submit"></textarea>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   const vm = new Vue({
      el: '.container',
      data: {
          title: [],
          description: '',
          timestamp: '',
          point: 0
      },
      computed: {
      },
      methods : {
          submit: function(event){
            let text = event.target.value
            this.title.push(text)
            const today = new Date();
            const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
            const dateTime = date
            this.timestamp = dateTime;
            event.target.value = ''
          },
          increase: function(){
            this.point++
          },
          decrease: function(){
            this.point--
          }
      }
  })
  </script>
</body>
</html>